@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html {
  background-color: #000;
  color: white;
  color-scheme: dark;
}

:root:has(.blockScroll) {
  overflow: hidden;
}

#root {
  height: 98vh;
  width: 100%;
}

.project-button-icon {
  transition: 0.1s ease-in;
}
.live-button-icon {
  transition: 0.1s ease-in;
}
.project-button:hover {
  .project-button-icon {
    transform: translateX(50%);
  }

  .live-button-icon {
    transform: translate(20%, -10%);
  }
}
